<h2>Student List:</h2>

<table>
  <tr>
    <th>Name</th>
    <th>House</th>
    <th>Age</th>
  </tr>
  <% @students.each do |student| %>
    <tr>
      <td><%= student.full_name %></td>
      <td>
        <img class="resize" src="<%= student.house.logo_url %>" alt="<%= student.house.name %>'s logo">
      </td>
      <td><%= student.age %></td>
    </tr>
  <% end %>
</table>
